[submodule "sources/aur/neovim-git"]
	path = sources/aur/neovim-git
	url = https://aur.archlinux.org/neovim-git.git
[submodule "sources/aur/alacritty-git"]
	path = sources/aur/alacritty-git
	url = https://aur.archlinux.org/alacritty-git.git
[submodule "sources/aur/awesome-luajit-git"]
	path = sources/aur/awesome-luajit-git
	url = https://aur.archlinux.org/awesome-luajit-git.git
[submodule "sources/aur/htop-git"]
	path = sources/aur/htop-git
	url = https://aur.archlinux.org/htop-git.git
[submodule "sources/aur/tmux-git"]
	path = sources/aur/tmux-git
	url = https://aur.archlinux.org/tmux-git.git
[submodule "sources/aur/vifm-git"]
	path = sources/aur/vifm-git
	url = https://aur.archlinux.org/vifm-git.git
[submodule "sources/aur/zsh-git"]
	path = sources/aur/zsh-git
	url = https://aur.archlinux.org/zsh-git.git
[submodule "sources/aur/picom-git"]
	path = sources/aur/picom-git
	url = https://aur.archlinux.org/picom-git.git
[submodule "sources/aur/zoxide-git"]
	path = sources/aur/zoxide-git
	url = https://aur.archlinux.org/zoxide-git.git
[submodule "sources/aur/gimp-develop-git"]
	path = sources/aur/gimp-develop-git
	url = https://aur.archlinux.org/gimp-develop-git.git
[submodule "sources/aur/ananicy-git"]
	path = sources/aur/ananicy-git
	url = https://aur.archlinux.org/ananicy-git.git
